# Environment
NODE_ENV=development

# Server
PORT=3000

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Public Backend URL for Mercado Pago webhooks in production
BACKEND_URL=https://your-api.example.com

# Database
DATABASE_URL="postgresql://user:password@hostname:5432/database?sslmode=require"

# Redis cache
UPSTASH_REDIS_REST_URL="https://proven-lioness-163633.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAn8xAAIgcDE0MzRiNTg4NTAwNjA0YTIxYWQwYjBhNWFjODdmNWVkYg"
CACHE_PREFIX=aura

# Mercado Pago
MERCADOPAGO_PUBLIC_KEY=APP_USR-91a4c634-dd51-468f-bdb4-9f0ae687fbd5
MERCADOPAGO_ACCESS_TOKEN=APP_USR-4763426665053727-070819-a256f91f3886ffe046f288fa521fe6f2-3529857926
MERCADOPAGO_CURRENCY=PEN
MERCADOPAGO_WEBHOOK_SECRET=your-mercadopago-webhook-secret

# JWT Secrets (change these in production!)
JWT_SECRET=your-jwt-secret-key-change-this-in-production
JWT_REFRESH_SECRET=your-refresh-secret-key-change-this-in-production

# Cloudinary
CLOUDINARY_CLOUD_NAME=dg4hes0tm
CLOUDINARY_API_KEY=132397692275981
CLOUDINARY_API_SECRET=DlQ9pdDT5vzQw0twjw1xigirlrI
CLOUDINARY_FOLDER=Aura
